{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:wght@700;800;900&display=swar" rel="stylesheet">
    <title>{% block title %}{% endblock %} | Hotels</title>
</head>
<body>
    <header>
        <nav>
            <h2 class="logo">Бронирование <span>отелей</span></h2>
            <div>
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Помощь</a></li>
                </ul>
            </div>
            <button type="button">Подписаться</button>
        </nav>
    </header>
    <section>
        <div class="section-main">
            {% block content %}
            {% endblock %}
        </div>
    </section>
    <footer>
        {% block footer %}{% endblock %}
    </footer>
   </body>
</html>