{% extends 'menu/main.html' %}

{% block title %}1 Страница{% endblock %}

{% block sidebar %}
    <h1>Первая страница</h1>
{% endblock %}

{% block content %}
    <h2>Очень подробное описание Первой страницы</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium blanditiis deserunt, libero modi possimus reiciendis sed sit. Autem dignissimos dolores eaque excepturi harum itaque labore nostrum tenetur ut vitae.</p>
{% endblock %}

{% block footer %}
    <h3>&copy; Все права защищены.</h3>
{% endblock %}