{% extends 'menu/main.html' %}

{% block title %}2 Страница{% endblock %}

{% block sidebar %}
    <h1>Первая страница</h1>
{% endblock %}

{% block content %}
    <h2>Очень подробное описание Второй страницы</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci alias amet architecto, atque expedita labore maiores mollitia non odit sequi sint tempora tempore ut, vel velit veniam voluptatem voluptatum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias commodi cupiditate, eaque enim excepturi fugit ipsa iste mollitia nobis nostrum officia perspiciatis quam reprehenderit saepe sapiente sunt totam, vel voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate delectus deleniti doloremque expedita illo neque, nisi non officia. Aspernatur assumenda debitis illo ipsa labore laborum modi officia, quod tempora ut.</p>
{% endblock %}

{% block footer %}
    <h3>&copy; Все права защищены.</h3>
{% endblock %}